# Get links to all cars

In [1]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

In [2]:
base_urls = []
for i in range(1,102):
  base_url = 'https://turbo.az/autos?page='+str(i)+'&q%5Bmake%5D%5B%5D=8'
  base_urls.append(base_url)

In [3]:
divs = []
for url in base_urls:
  response = requests.get(url)
  html = response.content
  soup = BeautifulSoup(html, 'lxml')
  div = soup.find_all('div', class_= 'products')
  divs.append(div)

In [4]:
divs2 = []
for i in divs:
 for x in i:
   new = x.find_all('div', class_ = 'products-i')
   divs2.append(new)

In [5]:
divs3 = []
for i in divs2:
  for x in i:
    new2 = x.find_all('a')
    divs3.append(new2)

In [6]:
hrefs = []
for i in divs3:
  for x in i:
    new3 = x.get('href')
    hrefs.append(new3)

In [7]:
len(hrefs)

10887

In [8]:
new_hrefs = [parts for parts in hrefs if 'bookmarks' not in parts]
len(new_hrefs)

3629

In [9]:
links_cars = ['https://turbo.az' + s for s in new_hrefs]
links_cars[:5]

['https://turbo.az/autos/5779986-kia-sorento',
 'https://turbo.az/autos/5853589-kia-rio',
 'https://turbo.az/autos/5831771-kia-sorento',
 'https://turbo.az/autos/5808203-kia-optima',
 'https://turbo.az/autos/5879170-kia-sportage']

# Get HTMLS of all cars

In [10]:
responses = []
for link in links_cars:
  response = requests.get(link)
  if response.status_code == 200:
    responses.append(response)

In [11]:
len(responses)

3629

In [12]:
htmls = []
for x in range(len(responses)):
  html = responses[x].content
  htmls.append(html)

In [13]:
len(htmls)

3629

# Choosing a parser

In [14]:
soups = []
for x in range(len(htmls)):
  soup = BeautifulSoup(htmls[x], 'lxml')
  soups.append(soup)

# Obtaining the element contains all the data

In [15]:
divss = []
for x in range(len(soups)):
  div = soups[x].find_all('div', {'class': 'product-properties-container'})
  divss.append(div)

# Extracting

In [16]:
city = []
brand = []
model = []
year = []
body_type = []
color = []
engine = []
engine_power = []
fuel_type = []
kilometrage = []
transmission = []
drivetrain = []
new = []
price = []
for x in divss:
  for i in range(1):
    c = x[i].find_all('div', class_ = 'product-properties-value')
    d = x[i].find_all('div', class_ = 'product-price')
    city.append(c[0].string)
    brand.append(c[1].string)
    model.append(c[2].string)
    year.append(c[3].string)
    body_type.append(c[4].string)
    color.append(c[5].string)
    engine.append(c[6].string)
    engine_power.append(c[7].string)
    fuel_type.append(c[8].string)
    kilometrage.append(c[9].string)
    transmission.append(c[10].string)
    drivetrain.append(c[11].string)
    new.append(c[12].string)
    price.append(d[0].text)

# Export data in a structured form

In [17]:
kia_cars = pd.DataFrame()
kia_cars['city'] = city
kia_cars['year'] = year
kia_cars['brand'] = brand
kia_cars['model'] = model
kia_cars['color'] = color
kia_cars['body_type'] = body_type
kia_cars['engine'] = engine
kia_cars['engine_power'] = engine_power
kia_cars['fuel_type'] = fuel_type
kia_cars['kilometrage'] = kilometrage
kia_cars['transmission'] = transmission
kia_cars['drivetrain'] = drivetrain
kia_cars['new'] = new
kia_cars['price'] = price

In [18]:
kia_cars.head()

   city  year brand     model  ... transmission drivetrain   new       price
0  Bakı  2014   Kia   Sorento  ...      Avtomat        Tam  Xeyr  46 300 AZN
1  Bakı  2013   Kia       Rio  ...      Avtomat         Ön  Xeyr  17 500 AZN
2  Bakı  2015   Kia   Sorento  ...      Avtomat         Ön  Xeyr    25 900 $
3  Bakı  2011   Kia    Optima  ...      Avtomat         Ön  Xeyr  21 800 AZN
4  Bakı  2008   Kia  Sportage  ...      Avtomat         Ön  Xeyr  18 800 AZN

[5 rows x 14 columns]

In [20]:
kia_cars.to_csv('kia_cars.csv', index = False , header = True)